<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Recipe Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/recipes" routerLinkActive="active" *ngIf="isAuthenticated">Recipes</a>
      <a class="nav-item nav-link" routerLink="/auth" routerLinkActive="active" *ngIf="!isAuthenticated" >Authenticate</a>
      <a class="nav-item nav-link" routerLink="/shopping-list" routerLinkActive="active">Shopping List</a>
    </div>

    <div class="navbar-nav ms-auto">
      <button class="btn btn-outline-secondary" *ngIf="isAuthenticated" (click)="onLogout()">Logout</button>
      <div class="nav-item dropdown" *ngIf="isAuthenticated">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="navbarDropdownMenuLink"
          data-bs-toggle="dropdown" aria-expanded="false">
          Manage
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" style="cursor: pointer;" (click)="onSaveData()">Save data</a>
          <a class="dropdown-item" style="cursor: pointer;" (click)="onFetchData()">Fetch data</a>
        </div>
      </div>
    </div>
  </div>
</nav>