<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="navbar-nav">
            <a class="nav-link" href="#">Recipes</a>
            <a class="nav-link" href="#">Shopping List</a>
            
            <div class="nav-item dropdown">
                <button class="btn dropdown-toggle ms-auto" type="button" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Manage
                </button>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Save data</a>
                    <a class="dropdown-item" href="#">Fetch data</a>
                </div>
            </div>
        </div>
    </div>

</nav>