<div class="row">
  <div class="col">
    <h1>{{recipe.name}}</h1>
  </div>
  <div class="col-12">
    <div class="card">
      <img [src]="recipe.imagePath" alt="" class="img-responsive">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="navbarDropdownMenuLink"
        data-bs-toggle="dropdown" aria-expanded="false">
        Manage Recipe
      </button>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" (click)="toShoppingList()" style="cursor: pointer;">To shopping list</a>
        <a class="dropdown-item" [routerLink]="['edit']" style="cursor: pointer;">Edit Recipe</a>
        <a class="dropdown-item" style="cursor: pointer;">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    {{recipe.description}}
  </div>
</div>

<div class="row">
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>